.App {
  text-align: left;
  margin: auto;
  max-width: 320px;
}

.blog-header{
  margin: 20px 0px 60px 0px ;
}

.add-blogpost{
  width: 30px;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.blog-list{
  margin: 20px 0px 40px 0px ;
}

.input-field{
  width: 320px;
  height: 38px;
  display: block;
  background-color: #F4F8FC;
  padding-left: 10px;
  margin-top: 8px;
  margin-bottom: 4px ;
  border-color:#c7d3e6;
  border-radius: 4px;
  border-style: solid;
}





/* Small Breakpoint */
@media screen and (min-width: 580px){
  .App {
    max-width: 550px;
  }
  
}

/* Large Breakpoint */
@media screen and (min-width: 1000px){
  .App {
    max-width: 950px;
  } 
}